In [9]:
# List of high schools
high_schools = ["Hernandex High School", "Figueroa High School", "Wilson High School", "Wright High School"]

In [10]:
for schools in high_schools:
    print(schools)

Hernandex High School
Figueroa High School
Wilson High School
Wright High School

In [11]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type": "District"}, 
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [12]:
print(high_school_types)

[{'High School': 'Griffin', 'Type': 'District'}, {'High School': 'Figueroa', 'Type': 'District'}, {'High School': 'Wilson', 'Type': 'Charter'}, {'High School': 'Wright', 'Type': 'Charter'}]

In [13]:
high_school_types.items()

AttributeError: 'list' object has no attribute 'items'

In [ ]:
for types in high_school_types:
    print(types)

In [ ]:
import pandas as pd

school_series = pd.Series(high_schools)
school_series

In [14]:
school_df = pd.DataFrame(high_school_types)
school_df

  High School      Type
0     Griffin  District
1    Figueroa  District
2      Wilson   Charter
3      Wright   Charter