In [21]:
# List of high schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High Schook", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [22]:
#Add the Pandas dependency
import pandas as pd

In [23]:
# Create a Pandas Series from a list
school_series = pd.Series(high_schools)
print(school_series)

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High Schook
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [24]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [26]:
school_df = pd.DataFrame(high_school_dicts)
print(school_df)

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [27]:
# Three separate lists of information on high schools
school_id = [0,1,2,3,4]

school_name = ["Huang High School", "Figueroa High School", 
              "Shelton High School", "Hernandez High School", "Griffin High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [28]:
# Initialize a new DataFrame. create an empty list
school_df = pd.DataFrame()

In [31]:
# Add the list to a new DataFrame
school_df["School ID"] = school_id

# Print the DataFrame
print(school_df)

   School ID
0          0
1          1
2          2
3          3
4          4

In [32]:
# Add school name 
school_df["school name"] = school_name

In [33]:
# Add type 
school_df["type"] = type_of_school
print(school_df)

   School ID            school name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [34]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [35]:
school_df.columns

Index(['School ID', 'school name', 'type'], dtype='object')

In [36]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [37]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)